 
  body {
	margin: 0;
	width: 100vw;
	background: #5D2A33;
	font-family: Arial, sans-serif;
	overflow: hidden;
  }

  h2 {
	font-size: 2.2em;
	line-height: 1.1;
	color: #FEC836;
  }

  button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
  }

  .pos-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	padding: 0px;
	overflow: hidden;
  }

  /* 좌측 POS 버튼 패널 */
  .menu-panel {
	flex: 3;
	padding: 30px;
	padding-inline: 60px;
	text-align: center;
  }
  
  /* 우측 주문 패널 */
  .order-panel {
	flex: 1;
	background-color: #f0f0f0;
	padding: 30px;
	padding-inline: 60px;
	/* border-left: 2px solid #888; */
  }
  
  .order-panel h2 {
	text-align: center;
  }
  
  .order-item {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0;
	padding: 8px;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
  }

  
  /* 메뉴 버튼 그리드 */
  .menu-grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 15px;
	margin-top: 10px;
  }

  .num-button {
	background-color: gainsboro !important;
  }
  
  .size-row {
	display: flex;
	flex-direction: column; /* 버튼을 세로로 정렬 유지 */
	gap: 15px; /* 기존보다 더 넓은 간격 */
	align-items: flex-start; /* 왼쪽 정렬 유지 */
  }

  .size-button {
	background-color: #E0CF8C !important;
	color: black;
	font-weight: bold;
}
  
  .menu-button {
	width: 120px;
	height: 80px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border: 2px solid black;
	background: white;
	cursor: pointer;

	transition: all 0.1s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .menu-button:hover {
	background: #FEC836;
	text-transform: uppercase;
	transform: scale(1.05);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* 음성으로 선택된 메뉴 하이라이트 효과 */
  .highlight {
	border: 3px solid red;
	box-shadow: 0 0 10px red;
  }
  
  /* 컨트롤 버튼 */
  .controls {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
  }
  
  .voice-btn {
	padding: 15px;
	font-size: 18px;
	background: #FEC836;
	color: black;
	border: none;
	cursor: pointer;
  }
  
  .voice-btn:hover {
	background: #d7a008;
  }

  .file-input {
	padding: 15px;
	font-size: 18px;
	background: #264F36;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
  }